<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="abrirNovo()"></button>
            <button pButton pRipple label="Deletar" icon="pi pi-trash" class="p-button-danger" (click)="deletarEquipamentosSelecionados()" [disabled]="!equipamentosSelecionados || !equipamentosSelecionados.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
          
            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="equipamentos" [rows]="10" [paginator]="true" [globalFilterFields]="['descricao','fabricante','modelo','codigoCPTM']"
        [(selection)]="equipamentosSelecionados" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} do total de  {totalRecords} ítens" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Gerenciamento de Equipamentos</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="descricao">Descricao <p-sortIcon field="descricao"></p-sortIcon></th>
                <th pSortableColumn="modelo">Modelo <p-sortIcon field="modelo"></p-sortIcon></th>
                <th pSortableColumn="fabricante">Fabricante <p-sortIcon field="fabricante"></p-sortIcon></th>
                <th pSortableColumn="codigoCPTM">CodigoCPTM <p-sortIcon field="codigoCPTM"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-equipamento>
            <tr>
                <td>
                    <p-tableCheckbox [value]="equipamento"></p-tableCheckbox>
                </td>
                <td>{{equipamento.descricao}}</td>
                <td>{{equipamento.modelo}}</td>
                <td>{{equipamento.fabricante}}</td>
                <td>{{equipamento.codigoCPTM}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editaEquipamento(equipamento)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletaEquipamento(equipamento)"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Total:  {{equipamentos ? equipamentos.length : 0 }} equipamentos
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="equipamentoDialogo" [style]="{width: '450px'}" header="Equipamento Detalhe" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="p-field">
            <label for="descricao">Descricao</label>
            <input type="text" pInputText id="descricao" [(ngModel)]="equipamento.descricao" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !equipamento.descricao">Descricao is required.</small>
        </div>

        <div class="p-field">
            <label for="fabricante">Fabricante</label>
            <input type="text" pInputText id="fabricante" [(ngModel)]="equipamento.fabricante" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !equipamento.fabricante">Fabricante is required.</small>
        </div>
    

        <div class="p-field">
            <label for="modelo">Modelo</label>
            <input type="text" pInputText id="modelo" [(ngModel)]="equipamento.modelo" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !equipamento.modelo">Modelo is required.</small>
        </div>
    

        <div class="p-field">
            <label for="codigoCPTM">Código CPTM</label>
            <input type="text" pInputText id="codigoCPTM" [(ngModel)]="equipamento.codigoCPTM" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !equipamento.codigoCPTM">Código CPTM is required.</small>
        </div>
    
    
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="esconderDialogo()"></button>
        <button pButton pRipple label="Savar" icon="pi pi-check" class="p-button-text" (click)="salvarEquipamento()"></button>
    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>